/* -------------------------- *\
	Globel
\* -------------------------- */
@font-face {
    font-family: 'jf-openhuninn';
    src: url('vendor/jf-openhuninn-2.0.ttf') format("truetype")
}
* {
	box-sizing: border-box;
	position: relative;
}
html,body {
    font-family: 'jf-openhuninn', sans-serif;
	margin: 0;
}
h1,h2,h3,h4,p{
    margin: 0;
}
a{
    text-decoration: none;
}
p{
    font-size: 20px;
    line-height: 40px;
    font-weight: 500;
    letter-spacing: 4px;
}

h1{
    font-size: 48px;
    letter-spacing:12px ;
    font-family: 'RocknRoll One', sans-serif;
    font-weight: 100;
}
h2{
    font-size: 40px;
    letter-spacing:8px ;
}
h3{
    font-size: 32px;
    font-weight: normal;
    letter-spacing: 8px;
}
h4{
    font-size: 24px;
    letter-spacing:12px;
    margin:4px 0 ;
}
.title{
    text-align: center;
}
.title_img{
    max-width: 360px;
    width: 40%;
}
@media screen and (max-width: 740px){
    .title_img{
        width: 80%;
    }
}
/* -------------------------- *\
	Layout
\* -------------------------- */
.row{
    display: flex;
}
.col-3{
    width: 33.33%;
}
.col-6{
    width: 50%;
}

/* -------------------------- *\
	Component
\* -------------------------- */

/* header */
.navbar{
    width: 100%;
    background-color: #FFF;
    padding: 10px 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    opacity: 0;
    transition: 1s;
    z-index: 10;
}
.Logo{
    height: 75px;
}
.navbar.show_nav{
    opacity: 1;
}
ul{
    display: flex; 
    list-style: none;
}
ul li a{
    text-decoration: none;
    color: #1F3B2C;
    font-size:20px ;
    margin: 0 20px;
}
#burger_btn{
    /* border: #1F3B2C solid 2px; */
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 40px;
    height: 40px;
}
#burger_btn div{
    width: 32px;
    height: 3px;
    background-color: #1F3B2C;
}

#burger_list{
    position: fixed;
    top:40px;
    right: 0;
    z-index: 9;
    width: 150px;
    background-color: #FFF;
    flex-direction: column;
    padding:20px 12px;
    display: none;
}
#burger_list li{
    margin:20px 0;
}
@media screen and (max-width: 740px){
    .navbar{
        padding: 10px 15px;
    }
    .navbar ul{
        display: none;
    }
    #burger_btn{
        display: flex;
    }
    .Logo{
        height: 32px;
    }
}

/* footer */
footer{
    display: flex;
    padding: 20px 50px;
    background-color: #1F3B2C;
    color: #FFF;
    justify-content: space-around;
    align-items: center;
}
footer .footer_logo{
    margin: 0 20px;
}
footer .media{
    margin: 20px 12px;
    text-align: center;
}
footer .media img{
    width: 60px;
    margin:0 12px;
}
@media screen and (max-width: 1024px){
    footer{
        flex-wrap: wrap;
        padding: 20px;
    }
    footer p{
        font-size: 12px;
    }

}
@media screen and (max-width: 740px){
    footer img{
        width: 80px;
    }
    footer{
        flex-wrap: wrap;
    }
    footer div{
        margin: 12px 0;
    }
    footer .media img{
        width: 40px;
    }
}
/* --------------- */
.mask{
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0,0.5);
    position: absolute;
    top: 0;
    left: 0;

}
/* -------------------------- *\
	jumbotorn
\* -------------------------- */
.jumbotorn{
    background-color: #F9EFDB;
}
.jumbotorn_img{
    width: 100%;
}
.jumbotorn_phone{
    width: 100%;
    display: none;
}
.v{
    position: absolute;
    width: 12%;
    animation: vShake 8s infinite ;
}
.v1{
    left: 20%;
    bottom:5% ;
}
.v2{
    left: 45%;
    bottom:2% ;
    animation-delay: 2s;
}
.v3{
    right: 15%;
    bottom:6%;
    animation-delay: 4s;
}
@media screen and (max-width: 740px){
    .jumbotorn_img{
        display: none;
    }
    .jumbotorn_phone{
        display: block;
    }
}
@keyframes vShake{
    25%{
        transform: rotate(-20deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(20deg);
    }
    100%{
        transform: rotate(0deg);
    }
}
/* -------------------------- *\
	about
\* -------------------------- */
.about{
    margin: 0;
    padding: 80px;
    background-color:#F9EFDB ;
}

.about_container{
    width: 80%;
    max-width: 1040px;
    margin: 20px auto;
    background-color: #9DBC98;
    border-radius: 8px;
    padding: 12px;
}


.about_container .col-3{
    border-right: 4px #F9EFDB  solid;
    padding: 12px 4px;
    text-align: center;
    color: #FFF;
}

.about_container .col-3:last-child{
    border: none;
}
.about_container .col-3 .icon{
    color: #F9EFDB;
    text-align: center;
    margin-bottom: 12px;
}
.about_container .col-3 .icon img{
    width: 80px;
}
@media screen and (max-width: 1040px) {
    .about{
        padding: 80px 20px;
    }
    .about_container{
        width: 100%;
    }
}
@media screen and (max-width: 740px){
    .about_container{
        max-width:400px;
        flex-wrap: wrap;
    }
    .about_container .col-3{
        width: 100%;
        border-right: none;
        border-bottom:4px #F9EFDB  solid ;
    }
}
/* -------------------------- *\
    know
\* -------------------------- */
.mask_img{
    width: 100%;
}
.know{
    background-image: url(images/know_bg.jpg);
    background-size: cover;
    text-align: center;
    padding-bottom: 200px;
}

.know_content{
    margin: 80px 0;
    display: inline-block;
    border-radius: 12px;
    background-color: #F9EFDB;
    padding: 24px;
}
.know_content img{
    width: 100%;
}
.know_content p{
    margin: 24px 0;
}
.mask_w{
    width: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
}
.know_content_phone{
    border-radius: 8px;
    background-color: #F9EFDB;
    padding: 12px;
    display: none;
    width: 90%;
    max-width: 560px;
    margin: 40px 0;
}
.know_content_phone p{
    font-size: 12px;
}
.know_content_phone img{
    width: 100%;
}
@media screen and (max-width: 740px){
    .know_content{
        display: none;
    }
   
    .know_content_phone{
        display: inline-block;
    }
}
/* -------------------------- *\
    news
\* -------------------------- */
.news{
    padding:40px 80px ;
    text-align: center;
}
.news_container{
    margin: 80px 0;
}
.news_box{
    border-radius: 20px;
    overflow: hidden; 
}
.big_img{
    position: absolute;
    right: 0;
    bottom: -150px;
    z-index: -1;
    width: 50%;
    max-width: 400px;
}
@media screen and (max-width: 740px){
    .news{
        padding:20px;
    }
    .news_container{
        margin: 40px 0;
    }
    .big_img{
        bottom: -50px;
    }
}
/* -------------------------- *\
    contact
\* -------------------------- */
.contact{
    padding: 80px 0;
    text-align: center;
    margin-bottom: 50px;
}
.contact img{
    margin-bottom: 40px;
}
.contact .big_img{
    left: 0;
    margin: 0;
    bottom: 80px;
    width: 40%;
}
.contact p{
    font-size: 32px;
    line-height: 80px;
}
@media screen and (max-width: 740px){
    .contact p{
        font-size: 14px;
        line-height: 24px;
        padding: 8px;
        background-color: #EBD9B4;
        color: #1F3B2C;
        border-radius: 4px;
        margin: 12px;
    }
    .contact{
        padding: 20px 0;
    }
}

/* -------------------------- *\
	min.html
\* -------------------------- */
.min .navbar{
    opacity: 1;
    position: relative;
}
.min_head{
    padding-top: 20px;
    padding-left: 100px;
    padding-bottom: 20px;
    margin-bottom: 100px;
    background-image: url(images/min_head.png);
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.min_logo{
    width: 320px;
}
.min_head_img{
    display: none;
}

.min_said{
    margin-top: 100px;
    color: #EBD9B4;
}
.min_said img{
    width: 640px;
}
.min_said p{
    position: absolute;
    width:560px;
    top: 180px;
    left: 72px;
}
.min_said_phone{
    display: none;
}
.min_said_phone img{
    position: absolute;
    top: -40px;
}

.min_said_content{
    padding:0 80px;
}
@media screen and (max-width: 1040px){
    .min_head{
        padding-left: 40px;
        margin-bottom: 40px;
    }
    
    .min_logo{
        margin-left: 20px;
    }
    .min_said{
        display: none;
    }
    .min_said_phone{
        background-color: #1F3B2C;
        color: #EBD9B4;
        border-radius: 8px;
        display: inline-block;
        padding: 12px;
        padding-top: 40px;
        margin-top: 80px;
        margin-right: 12px;
    }
}
@media screen and (max-width: 740px){
    .min_head{
        padding-left: 12px;
        background-image: none;
    }
    .min_logo{
        display: none;
    }
    .min_head_phone{
        display: block;
        width: 100%;
        padding-left: 20px;
    }
    .min_head_img{
        display: block;
    }
    .min_head_img .min_logo_ph{
        color: #EBD9B4;
        position: absolute;
        bottom: 20px;
        width:240px;
    }
    .min_logo_ph .col-3{
        width: 20%;
    }
    .min_head_img .min_logo_ph h2{
        font-size: 24px;
    }
    /* ---------------- */
    .min_said{
        display: none;
    }
    .min_said_phone p{
        font-size: 14px;
        line-height: 20px;
    }
    .min_said_content{
        padding: 12px;
        margin-bottom: 20px;
    }
    .min_said_content p{
        font-size: 14px;
        line-height: 20px;
    }
}







.bg_decorate {
    text-align: right;
}
.bg_decorate img{
    width: 80%;
}

/* factory_info*/
.factory{
    max-width:1040px;
    width: 80%;
    margin: 80px auto;
    padding-top: 40px;
}
.factory_info{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 80%;
}
.factory_info h1{
    padding-left: 24%;
    margin-bottom: 32px;
    color: #1F3B2C;
}
.factory_bg{
    width: 100%;
}
.factory_info p{
    margin-top: 40px;
}
.factory_top{
    position: absolute;
    top: 0;
    left: 0;
    width: 35%;
    min-width: 160px;
    z-index: 5;
    transform: translate(-20%,-20%);
}
.factory_bottom{
    position: absolute;
    bottom: -6%;
    right: -6%;
    width: 30%;
    min-width: 160px;
}
@media screen and (max-width: 1040px){
    .factory_top{
        left: 12px;
    }
    .factory_info h1{ 
        font-size: 32px;
        margin-bottom: 12px;
    }
    .factory_info p{
        font-size: 14px;
        margin-top: 12px;
    }

}

@media screen and (max-width: 740px){
    .factory{
        max-width:700px;
        width: 90%;
    }
    .factory_bg{
        height: 600px;
        width: 100%;
    }
    .factory_bg img{
        height: 100%;
    }
    .factory_info h1{
        padding-left: 8%;
        font-size: 28px;
        letter-spacing: 4px;
    }
    .factory_info p{
        line-height: 20px;
    }
}





/* ------------------ */
.factory_point{
    padding: 0 40px;
}
.factory_point .col-3 img{
    width: 100%;
}
.factory_point .col-3{
    padding: 0 12px;
}
.factory_point .col-3 img{
    max-width: 400px;
}
.factory_point .col-3:nth-child(1){
    padding-top: 60px;
}
.factory_point .col-3:nth-child(3){
    padding-top: 80px;
}
@media screen and (max-width: 1040px){
    .factory_point{
        flex-wrap: wrap;
        justify-content: center;
    }
    .factory_point .col-3{
        width: 60%;
    }
}
@media screen and (max-width: 740px){
    .factory_point{
        padding: 0;
    }
    .factory_point .col-3{
        width: 80%;
        padding: 0 !important;
    }
}
/* fruit */
.fruit{
    width: 80%;
    padding: 80px 0;
    margin: 80px auto;
}
.fruit_top{
    width: 76%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
}
.fruit_top_ph{
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2;
    display: none;
}
.fruit_bottom{
    width: 240px;
    position: absolute;
    bottom: 0;
    right: 0;
}
.fruit_content{
    width: 100%;
    height: 400px;
}
.fruit_content img{
    width: 100%;
    height: 100%;
}
.fruit_content p{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 70%;
    font-size: 24px;
    line-height: 48px;
}

@media screen and (max-width: 1040px){
    .fruit_content p{
        font-size: 20px;
        line-height: 32px;
    }
    .fruit_top{
        width: 90%;
    }
    .fruit_bottom{
        width: 200px;
    }

}
@media screen and (max-width: 640px){
    .fruit{
        padding: 40px 0;
    }
    .fruit_top{
        display: none;
    }
    .fruit_top_ph{
        display: block;
    }
    .fruit_content p{
        font-size: 14px;
        line-height: 24px;
    }
    .fruit_content {
        height: 400px;
    }
    .fruit_bottom{
        width: 100px;
    }

}
/* award */
.award{
    text-align: center;
}
.award_cotent{
    width: 720px;
    margin: 20px auto;
}
.award_cotent img{
    width: 100%;
}
.award_cotent p{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: #FFF;
}
.award_img{
    width: 80%;
    margin: 40px auto;
}
@media screen and (max-width: 740px){
    .award h1{
        font-size: 32px;
        width: 240px;
        margin: 0 auto;
    }
    .award_cotent{
        width: 90%;
        margin: 20px auto;
    }
    .award_cotent img{
        height: 300px;
        max-width:400px;
    }
    .award_cotent p{
        font-size: 14px;
        line-height: 20px;
        padding: 0 20px;
    }
}
/* -------------------------- *\
    product.html
\* -------------------------- */
.product_header{
    width: 100%;
    text-align: center;
    height: 800px;
    background-image: url(images/product/product_header.jpg);
    background-size: cover;
    background-attachment: fixed;
}

.brand_box{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 80px;
    min-width: 660px;
}
.brand_box img{
    width: 320px;
}
.product_header .brand_box h1{
    color: #FFF;
    font-size: 48px;
    letter-spacing: 24px;
    margin-top: 40px;
}
.bottom_mask{
    width: 100%;
    position: absolute;
    bottom: -6px;
}
@media screen and (max-width: 740px){
    .product_header{
        height: 600px;
    }
    .brand_box img{
        width: 280px;
    }
    .product_header .brand_box h1{
        letter-spacing: 8px;
        font-size: 36px;
    }
    .brand_box {
        min-width: 520px;
    }
}
@media screen and (max-width: 540px){
    .product_header{
        height: 320px;
    }
    .brand_box img{
        width: 160px;
    }
    .product_header .brand_box{
        margin-top: 40px;
        min-width: 290px;
    }
    .product_header .brand_box h1{
        letter-spacing: 8px;
        font-size: 24px;
        margin-top: 12px;
    }
}
.product .row{
    width: 1040px;
    margin: 100px auto;
    margin-bottom: 0;
    flex-wrap: wrap;
    /* border: #1F3B2C 2px solid; */
}
@media screen and (max-width: 1040px){
    .product .row{
        width: 80%;
        justify-content: center;
    }
}


/* product_card */
.product_card{
    width: 320px;
    height: 440px;
    border-radius: 12px;
    border: #9DBC98 4px  solid;
    overflow: hidden;
    margin: 12px;
}
.product_card .product_img{
    width: 100%;
    height: 240px;
}
.product_card .product_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.product_card .product_content{
    height: 200px;
    background-color: #FFF;
    color: #1F3B2C;
    padding: 12px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product_card .product_content h3{
    font-family: 'RocknRoll One', sans-serif;
}
.product_point{
    display: flex;
    justify-content: space-between;
}
.more{
    padding: 4px 12px;
    font-size: 20px;
    background-color: #EBD9B4;
    color: #1F3B2C;
    border-radius: 4px;
    transition: 1s all; 
}
.more:hover{
    background-color: #1F3B2C;
    color: #EBD9B4;
   
}


/* product_title */
.product_title{
    height: 400px;
    background-size: cover;
    margin-top: 100px;
    color: #1F3B2C;
}
.product_title h2{
    font-family:'RocknRoll One', sans-serif ;
    text-align: center;
    font-size: 80px;
    font-weight: lighter;
    top: 50%;
    transform: translateY(-50%);
}
@media screen and (max-width: 1040px){
    .food .product_title h2{
        text-align: right;
        padding-right: 40px;
    }
}

@media screen and (max-width: 540px){
    .product_title{
        height: 240px;
        margin-top: 100px;
    }
    .product_title h2{
        font-size: 48px;
    }
}
.noodle .product_title{
    background-position: bottom;
    padding-right: 150px;
}

.noodle .product_title h2{
    text-align: right;
    color: #EBD9B4;
}

.vet .product_title h2{
    color: #EBD9B4;
}

.vet{
    margin-bottom: 150px;
}

@media screen and (max-width: 740px) {
    .food .product_title{
        background-position-x: -100px;
    }
}
@media screen and (max-width: 540px){
    .food .product_title{
        background-position-x: -80px;
    }
    .food .product_title h2{
        text-align: right;
        padding-right: 20px;
    }
    .noodle .product_title{
        padding-right: 0;
        text-align: center;
    }
}

/* ---------------- *\
	product_page
\* ---------------- */
.product_page{
    width: 1040px;
    padding: 150px 0;
    margin: 0 auto;
    background-color: #EBD9B4;
}
.product_page>.row{
    margin: 0 20px;
    border-radius: 12px;
    overflow: hidden;
    background-color: #FFF;
    border: #9DBC98 4px solid;
    padding: 12px 0;
}
.product_page .row .col-6{
    margin: 0 20px;
}
.product_page .row .col-6 img{
    width: 100%;
    border-radius: 8px;
}
.product_page .row .col-6 h3{
    padding: 4px;
    border-radius: 4px;
    background-color: #EBD9B4;
    color: #1F3B2C;
    margin-bottom: 8px;
}
.pLine{
    border-left: #1F3B2C 4px solid;
    margin: 8px 0;
    padding-left: 8px;
}

.product_other_content a{
    color: #1F3B2C;
    border-bottom: #1F3B2C 1px solid;
    font-weight: bold;
}
.product_other{
    padding:40px;

}
.product_other_content{
    padding:12px;
    border-radius: 12px;
    border: #1F3B2C 2px solid;
}
.product_other_content p{
    letter-spacing: 0;
}
.product_other_content h4{
    display: inline-block;
    background-color: #1F3B2C;
    color: #EBD9B4;
    padding: 4px;
    border-radius: 4px;
    font-weight: normal;
}
.btn_group h3{
    color: #1F3B2C;
    font-size: 28px;
    margin: 8px;
    padding-left: 12px;
}
.btn_group .btn{
    padding: 8px;
    border-radius: 4px;
}
.btn_group .btn.click{
    background-color: #9DBC98;
    color: #fff;
}
.btn{
    cursor: pointer;
}

#buy_con{
    display: none;
}

@media screen and (max-width: 740px) {
    .product_page{
        width: 100%;
        padding:80px 20px;
    }
    .product_page .row{
        flex-wrap: wrap;
        justify-content: center;
    }
    .product_page .row .col-6{
        width: 100%;
    }
    .product_other{
        padding: 0;
        margin: 12px;
    }
    .btn_group .btn{
        font-size: 20px;
        letter-spacing: 4px;
    }
    .product_other_content p{
        font-size: 12px;
    }
    .product_page .row .col-6 p{
        font-size: 14px;
    }
    .product_other_content h4{
        font-size: 16px;
    }
}